NEXT_PUBLIC_SUPABASE_URL=https://qmjwnfmcdepibytbirbl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFtanduZm1jZGVwaWJ5dGJpcmJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA4NDE5NTEsImV4cCI6MjEwNjQxNzk1MX0.DnM5kzWjwbXGuTlvbgO8Ert4HkqPJwC4sogZxIquI-Q
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFtanduZm1jZGVwaWJ5dGJpcmJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDg0MTk1MSwiZXhwIjoyMTA2NDE3OTUxfQ.V7-249NFMLfJtlu_MiKzzcbhTPl-VxzZ9tBPv2QkdXo
#universal ni che
GEMINI_API_KEY=AQ.Ab8RN6KCss86wVgt3VgS_QNFN7ATtspSys5mM_qgRlTtCsO7bQ
DECODO_API_KEY=VTAwMDA1NDk0OTc6UFdfMTMxYTQwZjMyYjYyZmNhZmQ4ZmUwOTNjMTJjNzdlMDk5
GOOGLE_SEARCH_API_KEY=AIzaSyC_gDKT4_AMzEHYdeC6-nATy2dR2dCpIu4
GOOGLE_SEARCH_ENGINE_ID=347e69cafc29744b6
